{% extends 'student/layout.html' %}

{% block content %}

<div class = "ui container">

	<div class="ui large breadcrumb">
	  <a class = "section" href="{{ url_for('college.college_home') }}">College</a>
	  <i class="right angle icon divider"></i>
	  <a class = "section" href="{{ url_for('college.year',year=year) }}">{{ year }}</a>
	  <i class="right angle icon divider"></i>
	  <div class="active section">{{ BRANCH_NAME[branch] }}</div>
	  <i class="right angle icon divider"></i>
	  <div class="active section">Ranking</div>
	</div>

	<h3 class = "ui orange attached message">
      [{{ BRANCH_NAME[branch] }}]
      <span class = "oncomputer" style = "float: right">Batch [{{ year }}]</span>
	</h3>

	<div class = "ui attached segment" style = "overflow-x: auto">
      <table class="ui celled compact sorted small unstackable table">
        <thead>
            <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>CGPA</th>
            </tr>
        </thead>
        <tbody id = "result-table">
          {% for student in ranklist %}
            <tr>
              <td>#{{ student[4] }}</td>
              <td>
                <img class="ui middle spaced aligned tiny image" src = "/static/images/placeholder.png" data-src="/static/images/{{ student[3] }}">
                <span>{{ student[1] }} ({{ student[0] }})</span>
              </td>
              <td>{{ student[2][0] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(window).scroll(function() {
      $('img')
    .visibility({
      type       : 'image',
      transition : 'fade in',
      duration   : 0
    });
  });

  $('img')
  .visibility({
    type       : 'image',
    transition : 'fade in',
    duration   : 0
  });


  $("#_collegeresult").addClass("active");
</script>
{% endblock %}